@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--color-secondary);
  box-shadow: 0 16px 14px 0 #b54848;
  padding: 18px 24px;
  max-width: 365px;
  gap: 23px;
}

.container:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}

/* Media queries for mobile responsiveness */


@media (max-width: 768px) {
  .container {
    max-width: 300px;
    padding: 12px 18px;
  }
  .image {
    margin-bottom: 18px;
  }
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 20px;
  }
  .skills {
    margin-top: 10px;
  }
  .skill {
    font-size: 20px;
  }
  .links {
    margin-top: 18px;
  }
  .link {
    font-size: 24px;
  }
}


@media (max-width: 480px) {
  .container {
    max-width: 250px; 
    padding: 10px 14px; 
  }
  .image {
    margin-bottom: 12px; 
  }
  .title {
    font-size: 18px;
  }
  .description {
    font-size: 18px;
  }
  .skills {
    margin-top: 8px;
  }
  .skill {
    font-size: 18px;
  }
  .links {
    margin-top: 12px;
  }
  .link {
    font-size: 20px; 
  }
}