@media only screen and (min-width: 428px) and  (max-width: 428px) {

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

@media only screen and (min-width:414px) and (max-width: 414px) {
  body {
    font-size: 14px;
  }

  .container {
    width: 95%; 
    margin: 1.5em auto; 
  }
}

@media only screen and (min-width: 375px) and (max-width: 375px) {
  
}

@media only screen and (min-width: 1025px) {
  
}